---
---
$bg: #0A0A23;
$nav-height: 50px;
$main: #e6e6ff;
$blue: #01DCC1;
$accent: #FF239E;

img {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}
body {
  background-color: $bg;
}
p{
  color:$accent;
  font-size: 25px;
  font-family: "Helvetica";
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: $nav-height + 15px;
  font-weight: 100;
}
h1{
    color:$accent;
    font-size: 20px;
    font-family: monospace;
    text-align: left;
    font-weight: lighter;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 12px;
    margin-bottom: 5px;
    line-height: 135%;
}
h2{
  color:$main;
  font-size: 18px;
  font-family: monospace;;
  text-align: left;
  margin-left: 20px;
  font-weight: normal;
}
h3{
  color:$blue;
  font-size: 50px;
  line-height: 70%;
  font-family: "Impact";
  font-weight: lighter;
  margin-left: 120px;
  margin-bottom: 5px;
}
h4{
  color:$accent;
  font-size: 15px;
  font-family: monospace;
  text-align: left;
  font-weight: lighter;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 12px;
  line-height: 135%;
}
#p01 {
  color:$accent;
  font-size: 25px;
  font-family: "Helvetica";
  font-weight: 100;
}
#p02 {
  color:$blue;
  font-size: 25px;
  font-family: "Helvetica";
  font-weight: 100;
}
path:hover {
	fill-opacity: .7;
}
div.tooltip {
  position: absolute;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 25px;
  font-family: monospace;;
  font-weight: 100;
  color:$accent;
  background: $main;
  border: 2px;
  border-color: $accent;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
}
div.popup {
  position: absolute;
  text-align: left;
  padding: 2px;
  font-size: 12px;
  font-family: monospace;;
  font-weight: 100;
  color:$accent;
  background: $main;
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;

}
