---
---
$bg: #0A0A23;
$nav-height: 50px;
$main: #e6e6ff;
$blue: #01DCC1;
$accent: #FF239E;

body {
  background-color: $bg;
}
p{
  color:$accent;
  font-size: 25px;
  font-family: "Helvetica";
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: $nav-height + 15px;
  font-weight: 100;
}
h1{
  color:$main;
  font-size: 35px;
  font-family: "Helvetica";
  font-weight: 100;
}
h2{
  color:$accent;
  font-size: 35px;
  font-family: "Helvetica";
  font-weight: bold;
}
h3{
  color:$blue;
  font-size: 35px;
  font-family: "Helvetica";
  font-weight: 100;
}
h4{
  color:$accent;
  font-size: 25px;
  font-family: "Helvetica";
  font-weight: 400;
  margin: 0;
}
#p01 {
  color:$accent;
  font-size: 25px;
  font-family: "Helvetica";
  font-weight: 100;
}
#p02 {
  color:$blue;
  font-size: 25px;
  font-family: "Helvetica";
  font-weight: 100;
}
path:hover {
	fill-opacity: .7;
}
div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font-size: 25px;
  font-family: "Helvetica";
  font-weight: 400;
  color:$accent;
  background: $main;
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
}
div.popup {
  position: absolute;
  text-align: left;
  padding: 2px;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  color:$accent;
  background: $main;
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;

}
